<!-- ========================= FOOTER ========================= -->
{% load static %}

<footer class="section-footer border-top">
    <div class="container">
        <section class="footer-bottom border-top row">
            <div class="col-md-3">
                <h1>Categories</h1>
                <ul>
                    <li>Women</li>
                    <li>Men</li>
                    <li>Shoes</li>
                    <li>Accessories</li>
                    <li>New Arrivals</li>
                </ul>
            </div>
            <!-- <div class="col-md-2">
                <h1>Links</h1>
                <ul>
                    <li>FAQs</li>
                    <li>Pages</li>
                    <li>Stores</li>
                    <li>Compare</li>
                    <li>Cookies</li>
                </ul>
            </div> -->
            <div class="col-md-3 text-md-center">
                <h1>About</h1>
                <span>
                    Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Blanditiis tempora magnam vitae deleniti fugit
                    beatae laborum cum dolore dolores consequatur.
                </span>
            </div>
            <div class="col-md-3 text-md-center d-flex flex-column">
                <h1 class="mb-3">Contact</h1>
                <span class="px-2 mb-3">samobigod@gmail.com</span>
                <span class="px-2 mb-3">+234 7067397625</span>
                <span class="px-2">Street name 123, Avanue abc</span>
            </div>

            <div class="col-md-3 text-md-center">
                <div class="col-md-2 mt-3">
                    <img src="{% static '/images/misc/payments.png' %}" alt="">
                    <!-- <i class="fab fa-lg fa-cc-visa px-3"></i>
                    <i class="fab fa-lg fa-cc-paypal px-3"></i>
                    <i class="fab fa-lg fa-cc-mastercard px-3"></i> -->
                </div>
            </div>
        </section>
        <div class='left'>
            <span class='logo'>Imani's Place</span>
            <span className='copyRight'>
                &copy;
                {% now "Y" %}, All Rights Reserved
            </span>
        </div>
    </div>
</footer>









<!-- <footer class="section-footer border-top">
    <div class="container">
        <section class="footer-bottom border-top row">
            <div class="col-md-2">
                <p class="text-muted"> &copy 2023 GreatKart </p>
            </div>
            <div class="col-md-8 text-md-center">
                <span class="px-2">samobigod@gmail.com</span>
                <span class="px-2">+234 7067397625</span>
                <span class="px-2">Street name 123, Avanue abc</span>
            </div>
            <div class="col-md-2 text-md-right text-muted">
                <i class="fab fa-lg fa-cc-visa"></i>
                <i class="fab fa-lg fa-cc-paypal"></i>
                <i class="fab fa-lg fa-cc-mastercard"></i>
            </div>
        </section>
    </div>
</footer> -->
<!-- ========================= FOOTER END // ========================= -->