{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="hero-shop-section">
    <div class="container-full w-container">
      <div class="hero-shop-bg-image">
        <div class="w-layout-grid grid-shop-hero">
          <h1 class="hero-shop-title">Huge Selection Of Ski Gear &amp; Outwear</h1><a data-w-id="bacd46e6-19a0-8d7a-2acb-8069ef225b8d" href="{% url 'store' %}" class="button-primary-link w-inline-block">
            <div>Shop Now</div>
            <div class="button-link-icon-wrap"><img src="https://assets-global.website-files.com/637da80260297304423819bd/637db815d93444228a631ec9_arrow-right.svg" loading="eager"
                style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)"
                alt="" class="button-link-icon" /></div>
          </a>
        </div>
        <div class="hero-shop-bg-overlay"></div>
      </div>
      <div class="category-collection">
        <div class="w-dyn-list">
          <div role="list" class="category-list w-dyn-items">
            <div role="listitem" class="w-dyn-item"><a data-w-id="862d1f2d-4762-7c5a-051c-1e9fe5ca75d3" href="category/women" class="category-item w-inline-block">
                <div class="shop-category-image-wrap"><img src="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381b80bfb4a8ce9d38b4290_women.jpg" loading="eager" alt=""
                    sizes="(max-width: 479px) 88vw, (max-width: 767px) 41vw, (max-width: 991px) 28vw, (max-width: 1279px) 29vw, 32vw"
                    srcset="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381b80bfb4a8ce9d38b4290_women-p-500.jpg 500w, https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381b80bfb4a8ce9d38b4290_women.jpg 770w"
                    class="category-image" />
                  <div class="category-title-wrap">
                    <div class="category-title">Women</div>
                  </div>
                </div>
              </a></div>
            <div role="listitem" class="w-dyn-item"><a data-w-id="862d1f2d-4762-7c5a-051c-1e9fe5ca75d3" href="category/men" class="category-item w-inline-block">
                <div class="shop-category-image-wrap"><img src="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381b7ff73b91e2a04703570_men.jpg" loading="eager" alt=""
                    sizes="(max-width: 479px) 88vw, (max-width: 767px) 41vw, (max-width: 991px) 28vw, (max-width: 1279px) 29vw, 32vw"
                    srcset="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381b7ff73b91e2a04703570_men-p-500.jpg 500w, https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381b7ff73b91e2a04703570_men.jpg 770w"
                    class="category-image" />
                  <div class="category-title-wrap">
                    <div class="category-title">Men</div>
                  </div>
                </div>
              </a></div>
            <div role="listitem" class="w-dyn-item"><a data-w-id="862d1f2d-4762-7c5a-051c-1e9fe5ca75d3" href="category/kids" class="category-item w-inline-block">
                <div class="shop-category-image-wrap"><img src="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381b815fb4a8cc29d8b42a4_kids.jpg" loading="eager" alt=""
                    sizes="(max-width: 479px) 88vw, (max-width: 767px) 41vw, (max-width: 991px) 28vw, (max-width: 1279px) 29vw, 32vw"
                    srcset="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381b815fb4a8cc29d8b42a4_kids-p-500.jpg 500w, https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381b815fb4a8cc29d8b42a4_kids.jpg 770w"
                    class="category-image" />
                  <div class="category-title-wrap">
                    <div class="category-title">Kids</div>
                  </div>
                </div>
              </a></div>
          </div>
        </div>
        <div class="w-dyn-list">
          <div role="list" class="category-title-list w-dyn-items">
            <div role="listitem" class="w-dyn-item"><a data-w-id="b665bf0e-8df9-43c6-b867-a1d27273c871" href="category/skis" class="category-item w-inline-block">
                <h2>Skis</h2><img alt="" loading="eager" style="opacity:0;display:none" src="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6384669f15bbb670b09e171f_skis-02.jpg" class="category-image-small" />
              </a></div>
            <div role="listitem" class="w-dyn-item"><a data-w-id="b665bf0e-8df9-43c6-b867-a1d27273c871" href="category/snow-boards" class="category-item w-inline-block">
                <h2>Snow Boards</h2><img alt="" loading="eager" style="opacity:0;display:none" src="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381bd1841973cda325816a8_snowboard-02.jpg" class="category-image-small" />
              </a></div>
            <div role="listitem" class="w-dyn-item"><a data-w-id="b665bf0e-8df9-43c6-b867-a1d27273c871" href="category/ski-boots" class="category-item w-inline-block">
                <h2>Ski Boots</h2><img alt="" loading="eager" style="opacity:0;display:none" src="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381c2e473b91e092770e10c_ski-boot-02.jpg" class="category-image-small" />
              </a></div>
            <div role="listitem" class="w-dyn-item"><a data-w-id="b665bf0e-8df9-43c6-b867-a1d27273c871" href="category/apparel" class="category-item w-inline-block">
                <h2>Apparel</h2><img alt="" loading="eager" style="opacity:0;display:none" src="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/63846559c68fbc3ebe7167ab_apparel-02.jpg" class="category-image-small" />
              </a></div>
            <div role="listitem" class="w-dyn-item"><a data-w-id="b665bf0e-8df9-43c6-b867-a1d27273c871" href="category/snow-shoes" class="category-item w-inline-block">
                <h2>Snow Shoes</h2><img alt="" loading="eager" style="opacity:0;display:none" src="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6384668ff1211d589815c22a_snow-shoes-02.jpg" class="category-image-small" />
              </a></div>
            <div role="listitem" class="w-dyn-item"><a data-w-id="b665bf0e-8df9-43c6-b867-a1d27273c871" href="category/ski-goggles" class="category-item w-inline-block">
                <h2>Ski Goggles</h2><img alt="" loading="eager" style="opacity:0;display:none" src="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/63846544f1211d4b2c159abf_goggles-02.jpg" class="category-image-small" />
              </a></div>
            <div role="listitem" class="w-dyn-item"><a data-w-id="b665bf0e-8df9-43c6-b867-a1d27273c871" href="category/helmets" class="category-item w-inline-block">
                <h2>Helmets</h2><img alt="" loading="eager" style="opacity:0;display:none" src="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6384656515bbb624459dec44_helmet-02.jpg" class="category-image-small" />
              </a></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="collection-section section-spacing-bottom">
    <div class="container-full w-container">
      <div class="w-dyn-list">
        <div role="list" class="product-list w-dyn-items">
          <div role="listitem" class="w-dyn-item"><a data-w-id="c2e95237-009d-db8d-a070-35f1b3dcd20f" href="product/shifty-snowboard-boots" class="product-item w-inline-block">
              <div class="product-image-wrap"><img data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D" loading="eager"
                  style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                  src="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381981e8ae82d8008463c7f_product-01.jpg" alt=""
                  sizes="(max-width: 479px) 88vw, (max-width: 767px) 41vw, (max-width: 991px) 28vw, (max-width: 1279px) 29vw, 24vw"
                  srcset="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381981e8ae82d8008463c7f_product-01-p-500.jpg 500w, https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381981e8ae82d8008463c7f_product-01-p-800.jpg 800w, https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381981e8ae82d8008463c7f_product-01.jpg 900w"
                  class="product-image" />
                <div style="opacity:0;display:none" class="product-hover-border"></div>
              </div>
              <div class="product-list-info">
                <div id="w-node-_1be5185d-3eb3-6239-3089-ae6645ec0181-92c76d3d" class="product-info">
                  <h6>Shifty Snowboard Boots</h6>
                  <div id="w-node-c2e95237-009d-db8d-a070-35f1b3dcd215-92c76d3d" class="price-item-inline">
                    <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="price">$ 129.00 USD</div>
                    <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="price-compare w-dyn-bind-empty"></div>
                  </div>
                </div>
                <div id="w-node-adc82931-6916-8caf-705d-cee8335ce4d8-92c76d3d" class="product-button-wrap">
                  <div class="product-button"><img src="https://assets-global.website-files.com/637da80260297304423819bd/637dc282d934444fea6432aa_cart.svg" loading="eager" alt="" class="product-button-icon" /></div>
                </div>
              </div>
            </a></div>
          <div role="listitem" class="w-dyn-item"><a data-w-id="c2e95237-009d-db8d-a070-35f1b3dcd20f" href="product/hemises-outdoor-jacket" class="product-item w-inline-block">
              <div class="product-image-wrap"><img data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D" loading="eager"
                  style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                  src="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381982699a006c51c83f53d_product-02.jpg" alt=""
                  sizes="(max-width: 479px) 88vw, (max-width: 767px) 41vw, (max-width: 991px) 28vw, (max-width: 1279px) 29vw, 24vw"
                  srcset="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381982699a006c51c83f53d_product-02-p-500.jpg 500w, https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381982699a006c51c83f53d_product-02-p-800.jpg 800w, https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381982699a006c51c83f53d_product-02.jpg 900w"
                  class="product-image" />
                <div style="opacity:0;display:none" class="product-hover-border"></div>
              </div>
              <div class="product-list-info">
                <div id="w-node-_1be5185d-3eb3-6239-3089-ae6645ec0181-92c76d3d" class="product-info">
                  <h6>Hemises Outdoor Jacket</h6>
                  <div id="w-node-c2e95237-009d-db8d-a070-35f1b3dcd215-92c76d3d" class="price-item-inline">
                    <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="price">$ 105.00 USD</div>
                    <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="price-compare">$ 180.00 USD</div>
                  </div>
                </div>
                <div id="w-node-adc82931-6916-8caf-705d-cee8335ce4d8-92c76d3d" class="product-button-wrap">
                  <div class="product-button"><img src="https://assets-global.website-files.com/637da80260297304423819bd/637dc282d934444fea6432aa_cart.svg" loading="eager" alt="" class="product-button-icon" /></div>
                </div>
              </div>
            </a></div>
          <div role="listitem" class="w-dyn-item"><a data-w-id="c2e95237-009d-db8d-a070-35f1b3dcd20f" href="product/salamen-a56-ski-board" class="product-item w-inline-block">
              <div class="product-image-wrap"><img data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D" loading="eager"
                  style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                  src="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381984a41973c1e56564457_product-03.jpg" alt=""
                  sizes="(max-width: 479px) 88vw, (max-width: 767px) 41vw, (max-width: 991px) 28vw, (max-width: 1279px) 29vw, 24vw"
                  srcset="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381984a41973c1e56564457_product-03-p-500.jpg 500w, https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381984a41973c1e56564457_product-03-p-800.jpg 800w, https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381984a41973c1e56564457_product-03.jpg 900w"
                  class="product-image" />
                <div style="opacity:0;display:none" class="product-hover-border"></div>
              </div>
              <div class="product-list-info">
                <div id="w-node-_1be5185d-3eb3-6239-3089-ae6645ec0181-92c76d3d" class="product-info">
                  <h6>Salamen A56 Ski Board</h6>
                  <div id="w-node-c2e95237-009d-db8d-a070-35f1b3dcd215-92c76d3d" class="price-item-inline">
                    <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="price">$ 296.00 USD</div>
                    <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="price-compare w-dyn-bind-empty"></div>
                  </div>
                </div>
                <div id="w-node-adc82931-6916-8caf-705d-cee8335ce4d8-92c76d3d" class="product-button-wrap">
                  <div class="product-button"><img src="https://assets-global.website-files.com/637da80260297304423819bd/637dc282d934444fea6432aa_cart.svg" loading="eager" alt="" class="product-button-icon" /></div>
                </div>
              </div>
            </a></div>
          <div role="listitem" class="w-dyn-item"><a data-w-id="c2e95237-009d-db8d-a070-35f1b3dcd20f" href="product/spy-getaway-goggles-for-men" class="product-item w-inline-block">
              <div class="product-image-wrap"><img data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D" loading="eager"
                  style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                  src="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/638198549f6b4721aee3f19e_product-04.jpg" alt=""
                  sizes="(max-width: 479px) 88vw, (max-width: 767px) 41vw, (max-width: 991px) 28vw, (max-width: 1279px) 29vw, 24vw"
                  srcset="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/638198549f6b4721aee3f19e_product-04-p-500.jpg 500w, https://assets-global.website-files.com/637dc139a321ea5e4d68082b/638198549f6b4721aee3f19e_product-04-p-800.jpg 800w, https://assets-global.website-files.com/637dc139a321ea5e4d68082b/638198549f6b4721aee3f19e_product-04.jpg 900w"
                  class="product-image" />
                <div style="opacity:0;display:none" class="product-hover-border"></div>
              </div>
              <div class="product-list-info">
                <div id="w-node-_1be5185d-3eb3-6239-3089-ae6645ec0181-92c76d3d" class="product-info">
                  <h6>Spy Getaway Goggles For Men</h6>
                  <div id="w-node-c2e95237-009d-db8d-a070-35f1b3dcd215-92c76d3d" class="price-item-inline">
                    <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="price">$ 45.00 USD</div>
                    <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="price-compare w-dyn-bind-empty"></div>
                  </div>
                </div>
                <div id="w-node-adc82931-6916-8caf-705d-cee8335ce4d8-92c76d3d" class="product-button-wrap">
                  <div class="product-button"><img src="https://assets-global.website-files.com/637da80260297304423819bd/637dc282d934444fea6432aa_cart.svg" loading="eager" alt="" class="product-button-icon" /></div>
                </div>
              </div>
            </a></div>
          <div role="listitem" class="w-dyn-item"><a data-w-id="c2e95237-009d-db8d-a070-35f1b3dcd20f" href="product/snow-helmet-womens" class="product-item w-inline-block">
              <div class="product-image-wrap"><img data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D" loading="eager"
                  style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                  src="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381985b5ab155627529120e_product-05.jpg" alt=""
                  sizes="(max-width: 479px) 88vw, (max-width: 767px) 41vw, (max-width: 991px) 28vw, (max-width: 1279px) 29vw, 24vw"
                  srcset="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381985b5ab155627529120e_product-05-p-500.jpg 500w, https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381985b5ab155627529120e_product-05-p-800.jpg 800w, https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381985b5ab155627529120e_product-05.jpg 900w"
                  class="product-image" />
                <div style="opacity:0;display:none" class="product-hover-border"></div>
              </div>
              <div class="product-list-info">
                <div id="w-node-_1be5185d-3eb3-6239-3089-ae6645ec0181-92c76d3d" class="product-info">
                  <h6>Snow Helmet Womens</h6>
                  <div id="w-node-c2e95237-009d-db8d-a070-35f1b3dcd215-92c76d3d" class="price-item-inline">
                    <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="price">$ 82.00 USD</div>
                    <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="price-compare w-dyn-bind-empty"></div>
                  </div>
                </div>
                <div id="w-node-adc82931-6916-8caf-705d-cee8335ce4d8-92c76d3d" class="product-button-wrap">
                  <div class="product-button"><img src="https://assets-global.website-files.com/637da80260297304423819bd/637dc282d934444fea6432aa_cart.svg" loading="eager" alt="" class="product-button-icon" /></div>
                </div>
              </div>
            </a></div>
          <div role="listitem" class="w-dyn-item"><a data-w-id="c2e95237-009d-db8d-a070-35f1b3dcd20f" href="product/amt-carbon-sq-ski-poles" class="product-item w-inline-block">
              <div class="product-image-wrap"><img data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D" loading="eager"
                  style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                  src="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381986538bb0d163fcb13c8_product-06.jpg" alt=""
                  sizes="(max-width: 479px) 88vw, (max-width: 767px) 41vw, (max-width: 991px) 28vw, (max-width: 1279px) 29vw, 24vw"
                  srcset="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381986538bb0d163fcb13c8_product-06-p-500.jpg 500w, https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381986538bb0d163fcb13c8_product-06-p-800.jpg 800w, https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381986538bb0d163fcb13c8_product-06.jpg 900w"
                  class="product-image" />
                <div style="opacity:0;display:none" class="product-hover-border"></div>
              </div>
              <div class="product-list-info">
                <div id="w-node-_1be5185d-3eb3-6239-3089-ae6645ec0181-92c76d3d" class="product-info">
                  <h6>AMT Carbon SQ Ski Poles</h6>
                  <div id="w-node-c2e95237-009d-db8d-a070-35f1b3dcd215-92c76d3d" class="price-item-inline">
                    <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="price">$ 50.00 USD</div>
                    <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="price-compare w-dyn-bind-empty"></div>
                  </div>
                </div>
                <div id="w-node-adc82931-6916-8caf-705d-cee8335ce4d8-92c76d3d" class="product-button-wrap">
                  <div class="product-button"><img src="https://assets-global.website-files.com/637da80260297304423819bd/637dc282d934444fea6432aa_cart.svg" loading="eager" alt="" class="product-button-icon" /></div>
                </div>
              </div>
            </a></div>
          <div role="listitem" class="w-dyn-item"><a data-w-id="c2e95237-009d-db8d-a070-35f1b3dcd20f" href="product/seeley-3l-jacket-mens" class="product-item w-inline-block">
              <div class="product-image-wrap"><img data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D" loading="eager"
                  style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                  src="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381987038bb0d7a75cb13d2_product-07.jpg" alt=""
                  sizes="(max-width: 479px) 88vw, (max-width: 767px) 41vw, (max-width: 991px) 28vw, (max-width: 1279px) 29vw, 24vw"
                  srcset="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381987038bb0d7a75cb13d2_product-07-p-500.jpg 500w, https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381987038bb0d7a75cb13d2_product-07-p-800.jpg 800w, https://assets-global.website-files.com/637dc139a321ea5e4d68082b/6381987038bb0d7a75cb13d2_product-07.jpg 900w"
                  class="product-image" />
                <div style="opacity:0;display:none" class="product-hover-border"></div>
              </div>
              <div class="product-list-info">
                <div id="w-node-_1be5185d-3eb3-6239-3089-ae6645ec0181-92c76d3d" class="product-info">
                  <h6>Seeley 3L Jacket Mens</h6>
                  <div id="w-node-c2e95237-009d-db8d-a070-35f1b3dcd215-92c76d3d" class="price-item-inline">
                    <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="price">$ 250.00 USD</div>
                    <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="price-compare">$ 300.00 USD</div>
                  </div>
                </div>
                <div id="w-node-adc82931-6916-8caf-705d-cee8335ce4d8-92c76d3d" class="product-button-wrap">
                  <div class="product-button"><img src="https://assets-global.website-files.com/637da80260297304423819bd/637dc282d934444fea6432aa_cart.svg" loading="eager" alt="" class="product-button-icon" /></div>
                </div>
              </div>
            </a></div>
          <div role="listitem" class="w-dyn-item"><a data-w-id="c2e95237-009d-db8d-a070-35f1b3dcd20f" href="product/two-corp-mittens-kids" class="product-item w-inline-block">
              <div class="product-image-wrap"><img data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_main_image_4dr%22%2C%22to%22%3A%22src%22%7D%5D" loading="eager"
                  style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                  src="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/63819877f875b1b7dc53684d_product-08.jpg" alt=""
                  sizes="(max-width: 479px) 88vw, (max-width: 767px) 41vw, (max-width: 991px) 28vw, (max-width: 1279px) 29vw, 24vw"
                  srcset="https://assets-global.website-files.com/637dc139a321ea5e4d68082b/63819877f875b1b7dc53684d_product-08-p-500.jpg 500w, https://assets-global.website-files.com/637dc139a321ea5e4d68082b/63819877f875b1b7dc53684d_product-08-p-800.jpg 800w, https://assets-global.website-files.com/637dc139a321ea5e4d68082b/63819877f875b1b7dc53684d_product-08.jpg 900w"
                  class="product-image" />
                <div style="opacity:0;display:none" class="product-hover-border"></div>
              </div>
              <div class="product-list-info">
                <div id="w-node-_1be5185d-3eb3-6239-3089-ae6645ec0181-92c76d3d" class="product-info">
                  <h6>Two Corp Mittens Kids</h6>
                  <div id="w-node-c2e95237-009d-db8d-a070-35f1b3dcd215-92c76d3d" class="price-item-inline">
                    <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_price_%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="price">$ 45.00 USD</div>
                    <div data-wf-sku-bindings="%5B%7B%22from%22%3A%22f_compare_at_price_7dr10dr%22%2C%22to%22%3A%22innerHTML%22%7D%5D" class="price-compare w-dyn-bind-empty"></div>
                  </div>
                </div>
                <div id="w-node-adc82931-6916-8caf-705d-cee8335ce4d8-92c76d3d" class="product-button-wrap">
                  <div class="product-button"><img src="https://assets-global.website-files.com/637da80260297304423819bd/637dc282d934444fea6432aa_cart.svg" loading="eager" alt="" class="product-button-icon" /></div>
                </div>
              </div>
            </a></div>
        </div>
      </div>
      <div class="product-list-button"><a data-w-id="f177832c-e091-f461-213f-95c2c26d47c1" href="{% url 'store' %}" class="button-primary-link w-inline-block">
          <div>View All</div>
          <div class="button-link-icon-wrap"><img src="https://assets-global.website-files.com/637da80260297304423819bd/637db815d93444228a631ec9_arrow-right.svg" loading="eager"
              style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0deg) skew(0, 0)"
              alt="" class="button-link-icon" /></div>
        </a>
      </div>
    </div>
  </div>
  <div class="client-section section-spacing-bottom">
    <div class="container-full w-container">
      <div class="w-layout-grid grid-client"><img src="https://assets-global.website-files.com/637da80260297304423819bd/6381a66994a20c86293c37c6_client-01.svg" loading="eager" id="w-node-_9e4507f5-4dfa-1779-c77e-d6656c235f50-92c76d3d" alt=""
          class="client-image" /><img src="https://assets-global.website-files.com/637da80260297304423819bd/65487113b1880ea3b2ef04d6_client-02-dark.svg" loading="eager" id="w-node-_0de0afb1-f2d1-dc65-71bb-7a03011e2ff8-92c76d3d" alt=""
          class="client-image" /><img src="https://assets-global.website-files.com/637da80260297304423819bd/6381a68dbfe74781df6fcaeb_client-03.svg" loading="eager" id="w-node-_1ab1279f-b6ff-0343-6482-372ce7223e70-92c76d3d" alt=""
          class="client-image" /><img src="https://assets-global.website-files.com/637da80260297304423819bd/6381a69741973c3484571ab1_client-04.svg" loading="eager" id="w-node-_86434b20-d6c8-3ef0-a1bb-3e004a3f2ef1-92c76d3d" alt=""
          class="client-image" /><img src="https://assets-global.website-files.com/637da80260297304423819bd/6381a6a638bb0d42e9cbdc68_client-05.svg" loading="eager" id="w-node-_970bb304-2779-3419-89a0-12add3d18caf-92c76d3d" alt=""
          class="client-image" /><img src="https://assets-global.website-files.com/637da80260297304423819bd/6381a6ae3a69e91a17c5f4a6_client-06.svg" loading="eager" id="w-node-_1c710d5b-1ef6-efb3-d511-1d8346e9ca83-92c76d3d" alt=""
          class="client-image" /><img src="https://assets-global.website-files.com/637da80260297304423819bd/6381a6b5f875b1328d544790_client-07.svg" loading="eager" id="w-node-fdee6eab-0d7d-aa67-f4a2-9a3519fd6ff6-92c76d3d" alt=""
          class="client-image" /><img src="https://assets-global.website-files.com/637da80260297304423819bd/6381a6bce34a5e3cafc7f7b2_client-08.svg" loading="eager" id="w-node-e940e717-3a0c-1f3a-cdbf-10a7be2c6c10-92c76d3d" alt=""
          class="client-image" /><img src="https://assets-global.website-files.com/637da80260297304423819bd/6381a7df76687c2757d1bf9d_client-09.svg" loading="eager" id="w-node-_8b3c29b5-0c0f-76e9-d6a8-732880c1641b-92c76d3d" alt=""
          class="client-image" /><img src="https://assets-global.website-files.com/637da80260297304423819bd/6381a7fdf12be152a17696c6_client-10.svg" loading="eager" id="w-node-c7ada36c-5e79-542c-4a1f-a87c0cafa830-92c76d3d" alt=""
          class="client-image" /></div>
    </div>
  </div>




<!-- ========================= SECTION MAIN ========================= -->
<!-- <section class="section-intro padding-y-sm">




    <div class="container">

        <div>
            <img src="{% static '/images/banners/cover.jpg' %}" style="width: 100%; height: 30em; object-fit: cover; "
                class="img-fluid rounded">
        </div>

    </div>




</section> -->
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<!-- <section class="section-name padding-y-sm">
    <div class="container">

        <header class="section-heading">
            <a href="{% url 'store' %}" class="btn btn-outline-primary float-right">See all</a>
            <h3 class="section-title">Popular products</h3>
        </header>

        <div class="row">

            {% for product in products %}

            <div class="col-md-3">
                <div class="card card-product-grid">
                    <a href="{{ product.get_url }}" class="img-wrap"> <img src=" {{ product.images.url }} ">
                    </a>
                    <figcaption class="info-wrap">
                        <a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
                        <div class="price mt-1">{{ product.price }}</div> 
                    </figcaption>
                </div>
            </div> 

            {% endfor %}

        </div>
</section> -->
<!-- ========================= SECTION  END// ========================= -->






</body>

</html>

{% endblock %}